body {
    padding-top: 50px;
    padding-bottom: 20px;
    background-color: lightslategray;
}

/* Set padding to keep content from hitting the edges */
.body-content {
    padding-left: 15px;
    padding-right: 15px;
    background-color: white;
}

/* Override the default bootstrap behavior where horizontal description lists 
   will truncate terms that are too long to fit in the left column 
*/
.dl-horizontal dt {
    white-space: normal;
}

/* Set width on the form input elements since they're 100% wide by default */
input,
select,
textarea {
    max-width: 280px;
}

h1 {
    text-align: center;
}


/* Styling the front page */
#productsPage {
    margin-top: 40px;
}

#searchBar {
    padding-left: 40px;
}
#searchButtons {
    margin-top: 15px;
}

#productsList {
    list-style: none;
}

.productItem {
    display: inline-block;
    width: 100%;
    margin-bottom: 20px;
}

.productThumb {
    display: block;
    float: left;
    margin-right: 10px;
    border: 1px solid #021a40;
}

.productName {
    font-weight: bold;
    color: green;
}


/* Styling product page */
#productPageMainSection {
    display: inline-block;
    width: 100%;
}

.productPageImage {
    display: block;
    float: left;
    margin-right: 20px;
}

#productPageSecondSection {
    display: inline-block;
    width: 100%;
    margin-top: 20px;
}

#priceSection {
    display: block;
    float: left;
    width: 50%;
}

#reviewsSection {
    display: block;
    float: left;
    width: 50%;
}

.oldPrice {
    text-decoration: line-through;
    color: red;
}

.blueText {
    color: royalblue;
    font-weight: bold;
}

.greenText {
    color: green;
    font-weight: bold;
}
